@model LAB_2___ABB.Models.DrugOrderModel

@{
    ViewBag.Title = "AddDrug";
}

<h2>AddDrug</h2>

<div>
    <h4>DrugOrderModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.DrugName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrugName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
<div class="row">
    <input type="text" class="form-control" name="name" value="" placeholder="Name" />
    <input type="text" class="form-control" name="address" value="" placeholder="Address" />
    <input type="text" class="form-control" name="nit" value="" placeholder="NIT" />
    <br />
    <input type="text" class="form-control" name="add" value="" placeholder="Amount to add" />
    <button type="submit">Add amount</button>
</div>
    }

</div>



